/* style.css */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Styles applied when the class is present */
body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f4f4f4;
}
